{% extends 'base.html' %}

{% block content %}
<p style="font-size: 110px; text-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);" class="text-center">
    <strong>404</strong>
</p>
<p style="font-size: 30px" class="text-center span12">
    <strong>We could not find the page you were looking for, 
    so we found something to make you laugh to make up for it.</strong>
    <strong>
            <img src="https://hrcdn.net/hackerrank/assets/fourohfour-924a19293952b831435d063e4dac9668.png" class="block-center">
    </strong>
</p>
{% endblock %}

{% block footer %}
{{super()}}
{% endblock %}
