{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Description{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Description</label>
            <label for="body">Body</label>  
            <textarea class="form-control" rows="4" name="description_body" id="description_body" required class="form-control" >{{ request.form['description_body'] or user_data['description'] }}</textarea>
        </div>
        <div class="form-group">  
            <label for="pic">Profile Picture</label>
          <input class="btn btn-sm btn-outline-secondary" type="file" name="file" id="file">
        </div> 
        <button type="submit" class="btn btn-sm btn-outline-secondary">Update</button>
</form>
{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}
