{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Stackoverflow{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('question.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h2><a class="action" href="{{ url_for('question.que', id=post['qid']) }}"> {{ post['title'] }}</a></h2>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('question.update', id=post['qid']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
