{% extends 'base.html' %}

{% block header %}


<div class="jumbotron jumbotron-fluid">
  <h3><b>{% block title %}Questions{% endblock %}</b></h3>
  <p>"It is not the answer that enlightens, but the question." – Eugene Ionesco</p>
</div>
<!-- {% if g.user %}
    <a class="action" href="{{ url_for('question.create') }}">New</a>
  {% endif %} -->
{% endblock %}

{% block content %}

{% for post in posts %}
<div class="container-fluid">
  <article class="post">
    <header>
      <div>
                  <h2><a class="action blog-header text-dark" href="{{ url_for('question.que', id=post['qid']) }}"> {{
                      post['title'] }}</a></h2>
                <div class="profile-pic" style="text-align: right">
                  <a href="{{ url_for('auth.profile',id=post['author_id']) }}"><img width="30px" height="30px" class="image-fluid"
                      src="{{ url_for('static', filename=post['profile_picture'])}}"></a>
                  <p class="about blog-description" style="text-align: right">by {{ post['username'] }} on {{
                    post['created'] }}</p>
                </div>
              </div>
                {% if g.user['id'] == post['author_id'] %}
                <div style="text-align:right">
                  <a class="action" href="{{ url_for('question.update', id=post['qid']) }}"><i class="far fa-edit text-dark">Edit</i></a>
                </div>
                {% endif %}

    </header>
  </article>

  <hr>
</div>
{% endfor %}
{{ pagination.links }}
{% endblock %}
{% block footer %}
{% endblock %}
