{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Stackoverflow{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('question.create') }}">New</a>
  {% endif %}
  {% endblock %}
{%block content%}
  <br>
    <article class="post">
        <b>{{posts['title']}}</b>
        <br><br>
        {{posts['body']}}
    </article>
    <br><br>
    <article class="post">
      {% for ta in tags %}
        {{ ta[0]+" " }}
       
       {% endfor %}
  </article>
    <br><br>
    {{posts['upvotes']}} Upvotes
    <br><br>
    <a class="action" href="{{ url_for('question.upvote_question', id=posts['qid']) }}"> Upvote</a>
    <a class="action" href="{{ url_for('question.downvote_question', id=posts['qid']) }}"> Downvote</a>
    <article>
        <br><br>
        {{comments_len}} Comments
        <br><br>
        {% for comm in comments %}
        {{ comm[3] }}
        <br><br>
       {% endfor %}
     </article>
    <article>
        <br><br>
        {{ans_len}}answer
        <br> 
    </<article>
    
    <br><br>
    <a class="action" href="{{ url_for('question.delete', id=posts['qid']) }}"> Answer</a>
    <a class="action" href="{{ url_for('question.create_comment', id=posts['qid']) }}"> Comment</a>
    {% endblock %}
